# Build
Dockerfile
.dockerignore
.next

# Dependencies
node_modules
npm-debug.log

# Misc
README.md
.eslintrc.json

# Git
.git
.gitignore

# Environment Variables
.env*

# Testing
__test__
coverage
.swc